<form method="POST" action="/verify-code">
    <fieldset class="field2" >
        <label for="code">Insert authorization code</label>
        <input type="password" id="code" name="code">
    </fieldset>
</form>