<div class="container">
    <div class="element">
        <figure class="figure">
            <figcaption>Playing Happy Birthday</figcaption>
            <iframe class="videoFrame" alt="DemoVideo" src="https://www.youtube.com/embed/ou-uMvP5mq0">
            </iframe>  

            <br/>
            <br/>
            <br/>
            
        </figure>
        <figure>
            <figcaption>Presenting website</figcaption>
            <iframe class="videoFrame" alt="DemoVideo" src="https://www.youtube.com/embed/08UDDsCrvWQ">
            </iframe>
        </figure>
    </div>
</div>