<div class="container">
    <div class="element">
        <figure class="figure">
            <figcaption>Playing Happy Birthday</figcaption>
            <iframe class="videoFrame" alt="DemoVideo" src="https://www.youtube.com/embed/ou-uMvP5mq0">
            </iframe>
        

            
            <br/>
            <br/>
            <br/>
        </figure>
        <figure>
            <figcaption>Presenting WEB page</figcaption>
            <iframe class="videoFrame" alt="DemoVideo" src="https://www.youtube.com/embed/Ipl9P_lTHw8">
            </iframe>
        </figure>
    </div>
</div>