<div class="row">
  <div class="dcol-sm-12 col-xs-12 col-md-12 col-lg-12 d-flex justify-content-center">
    <select id="theme">
      <option value="0">Default theme</option>
      <option value="1">Classic theme</option>
      <option value="2">Blue theme</option>
      <option value="3">Colorful theme</option>
    </select>
    <select id="isNote">
      <option value="0">Chords</option>
      <option value="1">Notes</option>
    </select>
  </div>
</div>

<br />
<br />

<div class="row" class="keyboard">
  <div class="dcol-sm-12 col-xs-12 col-md-12 col-lg-12 d-flex justify-content-center">
    <div id="c1" class="brightTile" class="brightColor">
      <div id="k1" class="brightTileText"></div>
    </div>
    <div id="c2" class="darkTile">
      <div id="k2" class="darkTileText"></div>
    </div>
    <div id="c3" class="brightTile" class="brightColor">
      <div id="k3" class="brightTileText"></div>
    </div>
    <div id="c4" class="darkTile">
      <div id="k4" class="darkTileText"></div>
    </div>
    <div id="c5" class="brightTile" class="brightColor">
      <div id="k5" class="brightTileText"></div>
    </div>
    <div id="c6" class="brightTile" class="brightColor">
      <div id="k6" class="brightTileText"></div>
    </div>
    <div id="c7" class="darkTile">
      <div id="k7" class="darkTileText"></div>
    </div>
    <div id="c8" class="brightTile" class="brightColor">
      <div id="k8" class="brightTileText"></div>
    </div>
    <div id="c9" class="darkTile">
      <div id="k9" class="darkTileText"></div>
    </div>
    <div id="c10" class="brightTile" class="brightColor">
      <div id="k10" class="brightTileText"></div>
    </div>
    <div id="c11" class="darkTile">
      <div id="k11" class="darkTileText"></div>
    </div>
    <div id="c12" class="brightTile" class="brightColor">
      <div id="k12" class="brightTileText"></div>
    </div>
  </div>
</div> <!-- Tiles -->

<br />
<br />

<div class="row">
  <div class="dcol-sm-12 col-xs-12 col-md-12 col-lg-12 text-center">
    <% var i;
    var label = ["First", "Second", "Third", "Fourth", "Fifth", "Sixth", "Seventh"]
    %>
    <% for(i=1; i <8; ++i ) {%> 
      <button class="dcol-sm-1 col-xs-1 col-md-1 col-lg-1" id="<%=i %> " type="button"><%=label[i - 1]%></button>
    <% } %> 
  </div>
</div>
<br />
<br />