<div class="dcol-sm-12 col-xs-12 col-md-12 col-lg-12 text-center">
    <div class="title">Server stats</div>
    <br>
</div>

<p> The server runs in a local area network and has the ip: <b><%= ip %></b>.</p>
<p> the temperature of the processor: <b><%= temp %></b>.</p>