#master {
    margin: 0vh;
    padding: 0vh;
    border: 0vh;
    overflow-x: hidden;
}

body {
    background: #182020;
    color: #e4ffff;
}

.title {
    font-size: 5vh
}

nav {
    background: #e4ffff;
    color: #182020;
    padding: 0.5vh 0vh;
    margin: 0px 0px;
    border-top: 1vh solid white;
    border-bottom: 1vh solid white;
    cursor: pointer;
    font-size: 3vh;
    border-radius: 1vh;
}

nav a {
    color: #182020;
    text-decoration: none;
    padding: 5vh 1vh;
    border-radius: 0.2vh;
}

nav a:hover {
    background: white;
    color: #2c0402;
    font-weight: bolder;
    padding: 1.3vh 1vh;
    border-radius: 2vh;
}

.main {
    position: relative;
    padding-top: 4vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 4vh;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: #e4ffff;
    color: #182020;
    z-index: 1;
    border-top: 0.2vh solid white;
    border-radius: 1vh;
}

button {
    background-color: #e4ffff;
    border-color: white;
    border-radius: 3vh;
    padding: 0.5vh 1.5vw;
    margin: 0px 0.5vw;
    /* font-weight: bold; */
    box-shadow: 0.4vh 0.4vh #2c0402;
}

button:hover {
    color: #2c0402;
    font-weight: bold;
    background-color: #87c2c2;
    /* text-shadow: 0.1vh 0.1vh #2c0402; */
    box-shadow: 0vh 0vh #2c0402;
}

select {
    background-color: #e4ffff;
    border-color: white;
    border-radius: 3vh;
    padding: 0.5vh 1.5vw;
    margin: 0px 0.5vw;
}

/* select:hover{
    color: #2c0402;
  
    
    box-shadow: 0vh 0vh #2c0402;
}

select-items:hover{
    color: #2c0402;
    font-weight: bold;
    background-color: #87c2c2;

    box-shadow: 0vh 0vh #2c0402;
} */

p {
    text-indent: 30px;
    margin-bottom: 0px;
    margin-top: 0.5wh;
    margin-bottom: 1wh;
}

.ul {
    margin: 0px 0px;
    padding: 0px 0px;
}


.stats{
    font-size: x-large;
}